<header id="header">

  <span class="logo pull-left">
    <a href="/"><img src="<%=module%>/<%- typeof logo === 'string' ? logo : 'img/logo_framework.png'%>"
      alt="<%=__('templates.default.layout.header.adminPanel')%>" height="40"/></a>
  </span>

</header>
